// All colors will be named follow http://chir.ag/projects/name-that-color

// Group yellow
$sandy_brown: #f0ad4e;

// Group purple
$clairvoyant: #340652;
$wisteria: #9b5cb5;
$mischka: #e5dfe9;

// Group gray
$link_water: #fbfcfe;
$whisper: #f9f7fa;
$dusty_gray: #969696;

// Group green
$shamrock: #2abb9c;

// Group blue
$curious_blue: #3a99d9;