<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="referrer" content="no-referrer" />

  <title>React VN</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

</head>
<body>
  <!-- React app will be injected into the following `div` element: -->
  <div id="app">app</div>
  <script src=""></script>
</body>
</html>
