@import './variables/colors';
@import './variables/sizes';
@import './utilities/mixins';

html, body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
}

// -----------------------------
// All components in site
// -----------------------------
@import './layout/header';

@import './app';